.navbar-default {
    background-color: #43efcd;
    border-color: #e7e7e7;
}
.navbar-default .navbar-nav>.active>a, .navbar-default .navbar-nav>.active>a:focus, .navbar-default .navbar-nav>.active>a:hover {
    color: #f5f5f5;
    background-color: #18bfae;
}
.navbar-default .navbar-brand {
    color: #fff;
}
navbar-brand {
    font-size: 20px;
    font-weight: bold;
}
.navbar-default .navbar-nav>li>a {
    color: #fdfbfb;
}
.navbar-default .navbar-nav > li > a:hover, .navbar-default .navbar-nav > li > a:focus {
    background-color: #18bfae;
}
.form-control {
  width:50%;
}
.login-form
{
    align-content: space-around;
    margin-left: 100px;
}